= simple_form_for(@product, class: 'form-horizontal', multipart: true) do |f|
  = f.input :name, label: "品名"
  = f.input :price, label: "单价"
  = f.input :origin_price, label: "原价"
  = f.input :quantity, label: "库存"
  = f.input :is_publish, label: "上架"
  .row
    - (1..8).to_a.map do |i|
      .col-lg-1
        = f.file_field "icon#{i}"
        = f.hidden_field "icon#{i}_cache"
        = image_tag(@product.send("icon#{i}_url")) if @product.send("icon#{i}").present?
        = f.check_box "remove_icon#{i}"
  = f.input :desc, id: "myEditor", as: :text, label: "描述"

  .actions
    = f.submit "submit", class: 'btn btn-lg'
