= simple_form_for(@product, class: 'form-horizontal', multipart: true) do |f|
  .actions
    = f.submit "submit", class: 'btn btn-primary pull-right'
  .clearfix

  = f.input :name, label: "品名"
  = f.input :price, label: "单价"
  = f.input :origin_price, label: "原价"
  = f.input :quantity, label: "库存"
  = f.input :is_publish, label: "上架"
  - (1..8).to_a.in_groups_of(4).each do |g|
    .row
      - g.map do |i|
        .col-lg-2.col-md-2.col-sm-2.text-center.icon_holder
          .preview_holder
            = image_tag(@product.send("icon#{i}").try(:small).try(:url)) if @product.send("icon#{i}").present?

          - if @product.send("icon#{i}").path.present?
            移除
            = f.check_box "remove_icon#{i}"

          %label.btn.btn-warning.btn-file
            上传
            = f.file_field "icon#{i}"
            = f.hidden_field "icon#{i}_cache"

  = f.input :desc, id: "myEditor", as: :text, label: "描述", input_html: { data: {provide: 'markdown'} }

