.row
  .col-lg-6
    %table.table.quick_link_table
      %tbody
        %tr
          %td.by_what_td
            上架?
          %td.quick_link_td.text-left
            = link_to "不限", products_path()
            = link_to "已上架", products_path(q: {is_publish: true})
            = link_to "未上架", products_path(q: {is_publish: false})

    = render :partial => "list", locals: { products: @products }
  .col-lg-6#product_form_holder
    = render :partial => "form"


